	color: red;
}
img{
	width: 100px;
	height: 100 px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}

.btn-danger{
	color: green;

}
.btn-danger:hover{
	color:black;
}
#changeColor2{
	color: :green;
}
.changeColor p{
	color:red;
}